body {
    background-color: rgb(20, 20, 24);
}

a, p {
    color: whitesmoke;
    size: 20px;
}

a:hover {
    color: brown;
}

h1, h2, ol { 
    color: beige;
}

h2 {
    background-color: rgba(165, 18, 18, 0.74);
    width: 600px
}